.git
.github
.env
.env.*
!.env.example
node_modules
dist
backend/.env
backend/vendor
backend/node_modules
backend/storage/logs/*.log
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
*.zip
*.sql
